<%= select_azure_region(f) %>
<%= select_storage_account(f, compute_resource.storage_accounts) %>
<%= select_role_size(f, compute_resource.role_sizes) %>
<%= select_cloud_service(f, compute_resource.cloud_services) %>

<% arch ||= nil ; os ||= nil
images = possible_images(compute_resource, arch, os) %>

<div id='image_selection'>
  <%= select_azure_image(f, images) %>
</div>
